aiocache==0.12.3
celery==5.2.2
Django==4.2
fastapi==0.116.1
fastapi_cache==0.1.0
httpx==0.28.1
numpy==1.25.0
openai==1.107.1
opencv_python==4.10.0.84
Pillow==9.5.0
Pillow==11.3.0
potracer==0.0.4
pydantic==2.11.7
python-dotenv==1.1.1
qrcode==8.2
redis==5.1.1
Requests==2.32.5
scipy==1.16.1
Shapely==2.1.1
sqlmodel==0.0.24
svg.path==6.3
svgpathtools==1.6.1
tenacity==9.1.2
torch==2.7.1
torchvision==0.14.1+cu117
tqdm==4.66.5
ultralytics==8.0.183
uvicorn==0.35.0
vtracer==0.6.11
waifu2x_ncnn_py==2.0.0
